h5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #DDDDDD;
}
h5 > strong{
    font: 20px;
    font-weight: bold;
}
strong{
    margin:0px 3px ;
}