@import "./Components/Header/header.css";
@import "./Components/Navigation/navigation.css";
@import "./Components/Footer/Footer.css";
@import "./Components/Content/content.css";
body{
    width: 100%;
    background-color: #F1F1F1;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}